<?xml version="1.0" encoding="UTF-8"?>
<urlset>
    <url>
        <loc>www.renrenseed.com</loc>
        <lastmod>2013-04-10</lastmod>
        <changefreq>always</changefreq>
        <priority>0.5</priority>
        <data>
            <display>
                <title>【写给即将上战场的你们】努力为王，心态为皇</title>
                <content>略</content>
                <tag>考研复习</tag><tag>经验</tag>
                <pubTime>2012-12-04T11:20:13</pubTime>
                <breadCrumb title="考研加油站" url="http://ky.kaoyan.com/"/>
                <breadCrumb title="考研政治" url="http://www.kaoyan.com/s/zhengzhi"/>
                <thumbnail loc="http://docs.kaoyan.com/jpg/12/1204dde3cd949ccc.jpg"/>
                <image loc="http://docs.kaoyan.com/jpg/12/12048543278e760d.jpg" title="七个最常用的泰勒展开式"/>
            </display>
        </data>
    </url>
</urlset>